@charset "UTF-8";
.iframe, .dondeEstamos__img {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

/* TYPOGRAPHY */
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Lora", serif;
  font-size: 2rem;
  line-height: 1.5;
  font-weight: 600;
  background-image: url(../images/wickedbackground.webp);
}

h1, h2, h3, h4, h5 {
  color: #eeeeee;
  margin-bottom: 1rem;
  font-weight: 600;
}

h1 {
  font-size: 6rem;
  margin: 7rem;
  color: #eeeeee;
  display: block;
  text-align: center;
  text-decoration: none;
}
@media screen and (max-width: 810px) {
  h1 {
    text-decoration: none;
    margin-bottom: 0;
    font-size: 4rem;
  }
}

h2 {
  font-size: 4rem;
  text-decoration: none;
  text-align: center;
}
@media screen and (max-width: 810px) {
  h2 {
    text-decoration: none;
  }
}

.h1__menu {
  margin-top: 5rem;
}

h3 {
  font-size: 3rem;
}

h4 {
  font-size: 2.4rem;
}

p {
  margin-top: 0;
  color: #25252b;
}

.heading1 {
  text-align: center;
  padding-top: 7rem;
}

a {
  text-decoration: none;
  color: #25252b;
}
a:hover {
  color: #C9C5EA;
}

.link-arrow {
  color: #eeeeee;
  font-size: 2.5rem;
  font-weight: 600;
}

.link-arrow__menu {
  display: flex;
  justify-content: center;
}

.link-arrow::after {
  content: "➜";
  margin-left: 5px;
  transition: margin 0.2s;
}

.link-arrow:hover::after {
  margin-left: 20px;
}

.link-arrow:hover {
  color: darkgrey;
}

.link__menu {
  padding-top: 5rem;
}

.grid {
  display: grid;
  justify-content: center;
  place-content: center;
}

.grid--1x2 {
  grid-template-rows: 1fr 0.3fr;
}

.grid__hero--1x2 {
  grid-template-columns: 1fr 0.7fr;
}

@media screen and (max-width: 986px) {
  .grid__hero--1x2 {
    grid-template-columns: 1fr;
  }
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #eeeeee;
}
nav img {
  height: 5rem;
  margin-left: 2rem;
}

@media screen and (max-width: 800px) {
  .nav__a {
    width: 50vw;
  }
}
@media screen and (max-width: 800px) {
  .navbar {
    flex-direction: row;
    justify-content: space-evenly;
  }
}
@media screen and (max-width: 565px) {
  .header {
    position: static;
  }
}
.margen {
  margin: 0 2rem 0 2rem;
}

.ancla {
  margin-right: 1.5rem;
}

.nav-direction {
  justify-content: flex-end;
}

.hamburguesa {
  margin-right: 2.5rem;
}

.div__no__parallax {
  width: 100%;
  height: 400px;
  background-image: url(../images/textura.webp);
  background-size: cover;
  background-position: center;
}

@media screen and (max-width: 700px) {
  .div__no__parallax {
    display: none;
  }
}
.logo__img {
  display: flex;
  flex-direction: column;
  padding-top: 7rem;
  padding-bottom: 7rem;
  justify-content: center;
  align-items: center;
}

.cabecera__logo {
  display: flex;
  height: 200px;
  padding: 4rem;
}

.h2__cabecera {
  text-align: center;
  margin: 4rem;
}

@media screen and (max-width: 502px) {
  .logo__img {
    text-align: center;
    padding-bottom: 0;
  }
  .h2__cabecera {
    font-size: 4.5rem;
    margin-bottom: 15rem;
  }
  .cabecera__logo {
    width: 100%;
    height: auto;
  }
  .div__no__parallax {
    height: 200px;
  }
}
@media screen and (max-width: 800px) {
  .logo__img {
    text-align: center;
  }
  .cabecera__logo {
    min-height: 100px;
    margin-bottom: 3rem;
  }
}
.quienesSomos {
  clip-path: polygon(0% 0%, 100% 0%, 100% 95%, 0% 100%);
}

@media screen and (max-width: 986px) {
  .quienesSomos {
    clip-path: polygon(0% 0%, 100% 0%, 100% 96%, 0% 100%);
  }
}
.hero__content {
  background-color: #b6efda;
  padding: 6rem;
  overflow: hidden;
  padding-bottom: 1rem;
}

.hero__h2 {
  text-align: center;
  padding-bottom: 3rem;
  color: #25252b;
}

.hero--image {
  width: 100%;
  background-color: #b6efda;
  height: 100%;
}

@media screen and (max-width: 986px) {
  .hero--image {
    display: none;
  }
}
.curva {
  display: block;
}

.hero__text {
  display: block;
  line-height: 2;
  text-align: center;
}

@media screen and (max-width: 986px) {
  .hero__text {
    line-height: 1.7;
    margin-bottom: 5rem;
  }
}
@media screen and (max-width: 482px) {
  .hero__text {
    font-size: 1.8rem;
    margin-bottom: 5rem;
  }
}
@media screen and (max-width: 380px) {
  .hero__text {
    line-height: 1.4;
    margin-bottom: 5rem;
  }
}
.menu__images {
  display: flex;
  justify-content: space-evenly;
  padding: 1rem 3rem 1rem 3rem;
  flex-wrap: wrap;
}

.menu__images img {
  width: 300px;
  height: 450px;
}

.conos__menu:hover {
  transform: scale(1.03);
  transition: 0.5s;
}

.menu__h2 {
  padding: 7rem 0 4rem 0;
  display: flex;
  justify-content: center;
}

.link-arrow {
  font-size: 3rem;
}

.menu {
  padding-bottom: 5rem;
}

@media screen and (max-width: 960px) {
  .dos {
    display: none;
  }
}
@media screen and (max-width: 960px) {
  .uno {
    display: none;
  }
}
.domicilios--flex {
  display: flex;
  justify-content: space-evenly;
  margin-top: 5rem;
  background-image: url(../images/morocco.webp);
  flex-wrap: nowrap;
  align-content: center;
  height: 450px;
  overflow: hidden;
}

.container__domi {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.link-arrow--text {
  color: #25252b;
}

.domi {
  width: 450px;
  height: 300px;
}

.domi:hover {
  transform: scale(1.03);
  transition: 1s;
}

@media screen and (max-width: 800px) {
  .domicilios--flex {
    flex-direction: column-reverse;
    align-items: center;
    padding: 3rem;
  }
}
@media screen and (max-width: 800px) {
  .domi {
    width: 100%;
  }
}
@media screen and (max-width: 560px) {
  .domi {
    width: 300px;
    height: 200px;
  }
}
.where__img {
  width: 100%;
  height: 450px;
  background-image: url(../images/vinciatti-calle.webp);
  background-size: cover;
  background-position: center;
}

.dondeEstamos__h2 {
  display: flex;
  justify-content: center;
  padding: 5rem;
}

.container__dondeEstamos {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
}

.dondeEstamos__ciudades {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.donde {
  width: 100%;
}

.link__dondeEstamos {
  padding: 4rem;
}

.donde_estamos {
  margin-bottom: 5rem;
}

@media screen and (max-width: 768px) {
  .container__dondeEstamos {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .dondeEstamos__h2 {
    font-size: 3rem;
  }
}
@media screen and (max-width: 499px) {
  .img__donde {
    width: 350px;
  }
}
.whats-on {
  background-color: #C9C5EA;
  clip-path: polygon(0% 0%, 100% 4%, 100% 100%, 0% 100%);
}

@media screen and (max-width: 986px) {
  .whats-on {
    clip-path: polygon(0% 0%, 100% 1%, 100% 100%, 0% 100%);
  }
}
.wo__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15rem 0 5rem 0;
}

.wo__p {
  color: #25252b;
  margin: 5rem 2rem 5rem 2rem;
  font-size: 3rem;
  text-align: center;
}

.h2-wo {
  color: #25252b;
}

.instagram-post {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 8rem;
  flex-wrap: wrap;
}

@media screen and (max-width: 900px) {
  .instagram-post {
    flex-direction: column;
    align-items: center;
  }
}
.contactanos__flex {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  border: none;
}

.container__form {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding-top: 7rem;
  background-color: #EBF1A9;
  font-size: 1.5rem;
}
.container__form .form__img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
}
@media screen and (max-width: 810px) {
  .container__form .form__img {
    display: none;
  }
}

.legend {
  font-size: 4rem;
  text-align: center;
}

.btn__name {
  padding: 0.7rem 1.5rem 0.7rem 1.5rem;
  margin: 1rem;
  font-family: "Lora", serif;
  font-weight: 600;
  font-style: italic;
  border-radius: 99rem;
  border: 0 solid;
}

.btn__email {
  padding: 0.7rem 1.5rem 0.7rem 1.5rem;
  margin: 1rem;
  font-family: "Lora", serif;
  font-weight: 600;
  font-style: italic;
  border-radius: 99rem;
  border: 0 solid;
}

.btn__textArea {
  margin: 1rem;
  border-radius: 0;
  border: 0 solid;
}

.btn__negro {
  padding: 1rem;
  margin: 1rem;
  background-color: #25252b;
  color: #ffffff;
  font-family: "Lora", serif;
  font-weight: 600;
  font-style: italic;
  font-size: 1.5rem;
  border-radius: 99rem;
  border: 0 solid;
}

.div-arrow--ind {
  padding-bottom: 3rem;
}

footer {
  background-color: white;
}

.container__footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  padding: 0 4rem 1rem 4rem;
}

.redes__icons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 1rem;
}

.copy {
  color: #eeeeee;
  font-size: 1.3rem;
}

.copy__menu {
  color: #25252b;
}

.redes-logo {
  width: 45px;
  margin: 1.5rem;
}

.copy__image {
  width: 130px;
  margin: 1.5rem;
}

@media screen and (max-width: 768px) {
  .container__footer {
    flex-direction: column;
    justify-content: center;
  }
}
@media screen and (max-width: 768px) {
  .redes__icons {
    flex-direction: column;
  }
}
@media screen and (max-width: 768px) {
  .redes {
    padding: 1rem;
  }
}
.menu__img {
  width: 100%;
  height: 500px;
  background-image: url(../images/amigos2.webp);
  background-size: cover;
  background-position: center;
}

.section__opciones {
  margin: 5rem 0 5rem 0;
}

/* 3 opciones section */
.opciones {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  padding: 5rem;
}

@media screen and (max-width: 960px) {
  .opciones {
    flex-direction: column;
  }
  .img__sabores {
    margin-top: 5rem;
  }
}
.nuestrosSabores__image img {
  max-width: fit-content;
  height: 500px;
  overflow-x: hidden;
}

.img__menu_noparallax {
  width: 100%;
  height: 400px;
  background-image: url(../images/sabores-vinciatti.webp);
  background-size: cover;
  background-position: top;
}

.antojos__img {
  width: 100%;
  height: 400px;
  background-image: url(../images/cinnamon-rolls.webp);
  background-size: cover;
  background-position: center;
}

#menu_nuestros-sabores {
  display: flex;
  justify-content: center;
  padding-top: 5rem;
  padding-bottom: 10rem;
}

.hero__text {
  display: flex;
  flex-direction: column;
}

.menu__p {
  text-align: center;
  color: #eeeeee;
  padding-top: 2rem;
}

.sabores__text {
  display: flex;
  margin: 2rem 5rem 4rem 5rem;
  padding: 0 10rem 0 10rem;
}

@media screen and (max-width: 810px) {
  .sabores__text {
    margin: 2rem;
    padding: 1rem;
  }
}
.h2__sabores {
  color: #eeeeee;
  padding: 5rem;
  text-align: center;
}

.sabores__p {
  color: #eeeeee;
  text-align: center;
}

.sabores {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* CARDS */
.card {
  overflow: hidden;
}

.card--primary .card__header {
  background-color: #b6efda;
}

/* CARD SABORES*/
.cardSabores {
  border: 0.3px solid lightgray;
  background-color: #eeeeee;
}

.sabores__image {
  width: 100%;
  height: 250px;
  display: flex;
}

.container__card {
  display: flex;
  justify-content: center;
  margin: 0.5rem 0.5rem 3rem 0.5rem;
}

@media screen and (max-width: 540px) {
  .container__card {
    width: 170px;
    margin-bottom: 2rem;
  }
  .sabores__image {
    height: 200px;
  }
  .card__text p {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    width: 140px;
  }
  .p__texto__menuDos {
    display: none;
  }
}
.card__text {
  font-size: 1.7rem;
  background-color: #eeeeee;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 248px;
  text-align: center;
  height: 100%;
  margin-top: 0.6rem;
}
.card__text .p__titulo__sabores {
  margin-bottom: 1rem;
}

.p__texto__menu {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 1.1rem;
}

.p__texto__menuDos {
  font-size: 1.3rem;
}

.tarjetas__sabores {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-bottom: 5rem;
}

.heading__sabores {
  padding: 4rem;
  display: flex;
  justify-content: center;
  text-align: center;
}

/* Section Menu Antojos */
#section__menu_antojos {
  display: flex;
  justify-content: space-evenly;
}

.antojos__typo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 5rem;
  color: #25252b;
}

.antojos__text {
  margin: 5rem;
  padding: 0 10rem 0 10rem;
  color: #25252b;
  display: flex;
}

@media screen and (max-width: 810px) {
  .antojos__text {
    padding: 0;
    margin: 0 4rem 0 4rem;
  }
}
.h2__antojos {
  padding: 5rem;
  color: #25252b;
}

#section__menu_antojos {
  display: flex;
  justify-content: space-evenly;
  background-color: #b6efda;
  flex-wrap: wrap;
}

.opciones__antojos {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  padding: 5rem;
  width: 100%;
}

@media screen and (max-width: 1000px) {
  .opciones__antojos {
    flex-direction: column;
    justify-content: center;
  }
}
.menu__p--negro {
  color: #25252b;
  text-align: center;
  padding-top: 2rem;
}

.img__sabores {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

/* Section Menu bebidas */
.opciones__bebidas {
  color: #eeeeee;
}

.section__menu_bebidas {
  display: flex;
  flex-direction: column;
  text-align: center;
  flex-wrap: wrap;
}

/* footer menu */
.footer__menu {
  background-color: #eeeeee;
}

.wave__image {
  display: block;
}

.opciones__bebidas {
  padding-bottom: 10rem;
}

.div__arrow {
  position: absolute;
}
.div__arrow .svg-arrow {
  width: 50px;
  background-color: #eeeeee;
  border-radius: 100%;
  padding: 1rem;
  position: absolute;
  margin-left: 2rem;
  bottom: 5rem;
}

.donde__img {
  width: 100%;
  height: 400px;
  background-image: url(../images/vinciatti-city.webp);
  background-size: cover;
  background-position: center;
}

.h2__cabecera__donde {
  color: white;
  padding-bottom: 10rem;
  margin-top: 0;
}

.h5-direccion {
  color: #25252b;
}

.btn-direccion {
  padding: 1rem;
  margin: 1rem;
  background-color: #25252b;
  color: #ffffff;
  font-family: "lora", serif;
  font-weight: 600;
  font-style: italic;
  font-size: 2rem;
  border-radius: 99rem;
  border: 0 solid;
}

.btn-direccion:hover {
  background-color: #EBF1A9;
  color: #25252b;
}

#dondeEstamos__section {
  padding-bottom: 10rem;
}

.h3__tulua {
  padding: 2rem;
}

.p__donde {
  font-size: 1.5rem;
  margin-top: 3rem;
  text-align: left;
}

.container__donde {
  display: flex;
  justify-content: space-evenly;
}

.container__tulua {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 8rem 2rem 5rem 2rem;
}

.dondeEstamos__img {
  width: 100%;
}

.tulua {
  margin-top: 4rem;
}

.manizalez {
  margin-top: 8rem;
}

.iframe {
  width: 400px;
}

.image__tulua {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}

@media screen and (max-width: 960px) {
  .container__donde {
    flex-direction: column;
    align-items: center;
  }
  .manizalez {
    flex-direction: column-reverse;
    padding-top: 5rem;
  }
  .iframe {
    width: 350px;
  }
  .imagen__tulua {
    width: 350px;
  }
}
/* Footer donde estamos */
.footer__dondeEstamos {
  padding-top: 3.5rem;
  background-color: white;
}

.redes__icons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.redes-logo {
  width: 85px;
  padding: 2rem;
}

.redes:hover {
  transform: rotate(25deg);
  transition: 0.5s;
}

/*# sourceMappingURL=style.css.map */
