.quienesSomos{
    clip-path: polygon(0% 0%, 100% 0%, 100% 95%, 0% 100%);

}
@media screen and (max-width: 986px) {
    .quienesSomos{
        clip-path: polygon(0% 0%, 100% 0%, 100% 96%, 0% 100%);
    }
}

.hero__content{
    background-color: #b6efda;
    padding: 6rem;
    overflow: hidden;
    padding-bottom: 1rem;
}
.hero__h2 {
    text-align: center;
    padding-bottom: 3rem;
    color: #25252b;
}
.hero--image {
    width: 100%;
    background-color: #b6efda;
    height: 100%;
    
}
@media screen and (max-width: 986px) {
    .hero--image{
        display: none;
    }
    
}


.curva {
    display: block;
}
.hero__text {
    display: block;
    line-height: 2;
    text-align: center;
    
}
@media screen and (max-width:986px){
    .hero__text {
        line-height: 1.7;
        margin-bottom: 5rem;
    }
}
@media screen and (max-width:482px){
    .hero__text {
        font-size: 1.8rem;
        margin-bottom: 5rem;
    }
}
@media screen and (max-width:380px){
    .hero__text {
        line-height: 1.4;
        margin-bottom: 5rem;
    }
}